<div class="fix-spacing" style="height:135px;">

</div>
<!-- content -->
<div class="">
    <div class="container-breadcrumb">
        <div class="container">
            <ul id="breadcrumID" class="breadcrumb">
                <li class="breadcrumb-item fw-light"><a href="#">Trang chủ</a></li>
                <li class="breadcrumb-item active text-danger" aria-current="page">Giỏ hàng</li>
            </ul>
        </div>
    </div>
    <div class="container">
      <div class="row mt-4">
        <div>
           <h3>GIỎ HÀNG <sub style="font-size: 0.9rem;">(Số lượng <span class="sold">1</span> )</sub></h3>
        </div>
      </div>
      <div class="row mt-2">
          <div class="cart-items">
            <div class="row cart-row">
              <div class="cart-item col-md-3 col-12 pe-0">
                  <img class="cart-item-image" src="../img/shopping cart/136a9053-2 (1).webp" width="70%" >
              </div>
              <div class="cart-item col-md-3 col-12 ps-0 mt-4">
                <p><a href="">Z-bot Apocalypse T-shirt - Beige / XL</a> </p->
                <p class="btn-delete fw-normal btn text-danger ps-0 mb-md-3 mb-0">Xoá</p>
              </div>
              <div class="cart-item col-md-3 col-12 mt-md-5">
                <div class="row text-danger price ">
                <span class="cart-price cart-column col-md-6 col-12 fs-5 p-md-2 p-0 pb-2">299999 <sup>đ</sup></span> 
                  <input class="cart-quantity-input col-md-6 col-3 px-0 text-center" type="number" value="1">
                </div>
              </div>
              <div class="cart-item col-md-2 offset-md-1 col-12">
                <div class="row text-start">
                  <p class="mt-3 ps-0 mb-1 nonesection">Tạm tính: <span class="cart-total-price1">299999</span><sup>đ</sup></p>
                  <p class="pt-3 ps-0 mb-1"  style="border-top:1px solid rgb(235, 232, 232) ;">Thành tiền: <span class=" text-danger cart-total-price fs-5">299999</span><sup>đ</sup></p>
                  <button class="btn btn-dark P-4 mt-md-5 mt-3">THANH TOÁN NGAY</button>
                </div>
              </div>
          </div>
          </div>
          </div>
      </div>
      </div>  
    </div>
    <!-- endcontent -->
