<div class="panel-body">
    <form method="post" id="MyForm" action="/add" enctype="multipart/form-data">
        <div class="input-group form-group">
            <label for="file" class="input-group-text">Ảnh sản phẩm: </label>
              <input
                name="image"
                type="file"
                id="file"
                class="form-control ps-0 form-control-line"
              />
          </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Tên sản phẩm: </label>
            <input type="text" class="form-control" name="name" />
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Tên danh mục: </label>
            <select class="form-control" name="category">
                <option value="Z-BOT CAPSULE">Z-BOT CAPSULE</option>
                <option value="YOUNG/ WILD N' TRIPPY">YOUNG/ WILD N' TRIPPY</option>
                <option value="TOP">TOP</option>
                <option value="BOTTOM">BOTTOM</option>
                <option value="ACCESSORY">ACCESSORY</option>
            </select>
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Giá: </label>
            <input type="text" id="price" class="form-control" name="price" />
        </div>

        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Số lượng: </label>
            <input type="text" class="form-control" name="quantity" />
        </div>
        <div class="input-group mb-3">
            <label class="input-group-text" for="form-control">Mô tả: </label>
            <input type="text" class="form-control" name="description" />
        </div>

        <div class="form-group input-group mt-3">
            <button type="submit" class="btn btn-outline-dark" style="margin-left: 0px !important">
                Thêm sản phẩm
            </button>
        </div>
    </form>
</div>