
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Clownz</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">Clownz Bill</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="card">
                                <div class="card-header p-4">
                                    <a class="pt-2 d-inline-block" href="../admin.html">CLownz Admin</a>

                                    <div class="float-right">
                                        <h3 class="mb-0">Bill #1</h3>
                                        Ngày 21 Tháng 5, 2022
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div class="row mb-4">
                                        <div class="col-sm-12">
                                            <h3 class="text-dark mb-1">Mạnh Thắng</h3>
                                            <div>Địa chỉ: Nam Định</div>
                                            <div>Email: nhocken2k2@gmail.com</div>
                                            <div>SĐT: 0991912xxx</div>
                                        </div>
                                    </div>
                                    <div class="table-responsive-sm">
                                        <table class="table table-striped">
                                            <thead>
                                                <tr>
                                                    <th class="center">#</th>
                                                    <th>Ảnh</th>
                                                    <th>Tên sản phẩm</th>
                                                    <th>Mô tả</th>
                                                    <th class="center">Số lượng</th>
                                                    <th class="right">Thành tiền</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="center">1</td>
                                                    <td><img src="../assets/images/eco-product-img-2.png" alt=""
                                                            width="30%"></td>
                                                    <td class="left">CLOWNZ GOOD VIBE T-SHIRT</td>
                                                    <td class="right">...</td>
                                                    <td class="center">2</td>
                                                    <td class="right">xxxVND</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">2</td>
                                                    <td><img src="../assets/images/eco-product-img-2.png" alt=""
                                                            width="30%"></td>
                                                    <td class="left">CLOWNZ GOOD VIBE T-SHIRT</td>
                                                    <td class="right">...</td>
                                                    <td class="center">2</td>
                                                    <td class="right">xxxVND</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">3</td>
                                                    <td><img src="../assets/images/eco-product-img-2.png" alt=""
                                                            width="30%"></td>
                                                    <td class="left">CLOWNZ GOOD VIBE T-SHIRT</td>
                                                    <td class="right">...</td>
                                                    <td class="center">2</td>
                                                    <td class="right">xxxVND</td>
                                                </tr>
                                                <tr>
                                                    <td class="center">4</td>
                                                    <td><img src="../assets/images/eco-product-img-2.png" alt=""
                                                            width="30%"></td>
                                                    <td class="left">CLOWNZ GOOD VIBE T-SHIRT</td>
                                                    <td class="right">...</td>
                                                    <td class="center">2</td>
                                                    <td class="right">xxxVND</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4 col-sm-5">
                                        </div>
                                        <div class="col-lg-4 col-sm-5 ml-auto">
                                            <table class="table table-clear">
                                                <tbody>
                                                    <tr>
                                                        <td class="left">
                                                            <strong class="text-dark">Discount (0%)</strong>
                                                        </td>
                                                        <td class="right">0VND</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left">
                                                            <strong class="text-dark">VAT (3%)</strong>
                                                        </td>
                                                        <td class="right">xxxVND</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="left">
                                                            <strong class="text-dark">Tổng</strong>
                                                        </td>
                                                        <td class="right">
                                                            <strong class="text-dark">xxxVND</strong>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- footer -->
                <!-- ============================================================== -->

                <!-- ============================================================== -->
                <!-- end footer -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end wrapper  -->
            <!-- ============================================================== -->
        </div>
   