
        <div class="dashboard-wrapper">
            <div class="dashboard-ecommerce">
                <div class="container-fluid dashboard-content ">
                    <!-- ============================================================== -->
                    <!-- pageheader  -->
                    <!-- ============================================================== -->
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <div class="page-header">
                                <div class="page-breadcrumb">
                                    <nav aria-label="breadcrumb">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="#"
                                                    class="breadcrumb-link">Dashboard</a>
                                            </li>
                                            <li class="breadcrumb-item active" aria-current="page">Product</li>
                                        </ol>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="ecommerce-widget">
                        <div class="row">
                            <!-- recent orders  -->
                            <!-- ============================================================== -->
                            <div class="col-xl-12 col-lg-12 col-md-6 col-sm-12 col-12">
                                <div class="card">
                                    <h5 class="card-header">Recent Orders</h5>
                                    <div class="card-body p-0">
                                        <div class="table-responsive">
                                            <table class="table">
                                                <thead class="bg-light">
                                                    <tr class="border-0">
                                                        <th class="border-0">#</th>
                                                        <th class="border-0">Hình ảnh</th>
                                                        <th class="border-0">Mã sản phẩm</th>
                                                        <th class="border-0">Tên sản phẩm</th>
                                                        <th class="border-0">Số lượng</th>
                                                        <th class="border-0">Giá</th>
                                                        <th class="border-0">Mô tả</th>
                                                        <th class="border-0">Hành động</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td>
                                                            <div class="m-r-10"><img src="img/capsule/136a9053-2.png"
                                                                    alt="user" class="rounded" width="45"></div>
                                                        </td>
                                                        <td>cs11</td>
                                                        <td>BASIC FOR LIFE</td>
                                                        <td>7</td>
                                                        <td>299.999VND</td>
                                                        <td>aaaa</td>
                                                        <td>
                                                            <button type="button" class="btn  btn-outline-dark"
                                                                style="margin-left: 0px !important;"
                                                                id="save_btn">Sửa</button>
                                                            <button type="reset"
                                                                class="btn  btn-outline-danger">Xóa</button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>