<div class="fix-spacing" style="height:135px;">

</div>
<div class="container">
    <div class="container-breadcrumb">
        <div class="container">
            <ul id="breadcrumID" class="breadcrumb">
                <li class="breadcrumb-item fw-light"><a href="/product_detail_wbs/<%= item.id%>">Trang sản phẩm</a></li>
                <li class="breadcrumb-item active text-danger" aria-current="page">Dear customer</li>
            </ul>
        </div>
    </div>
    <div class="container my-5">
        <h1 class="text-danger"> CẢM ƠN BẠN ĐÃ MUA SẢN PHẨM BÊN CHÚNG TÔI <i class="fa-sharp fa-solid fa-heart"></i> </h1>
    </div>
</div>