<!doctype html>
<html lang="en">

<head>
    <title>Web-site-ban-quan-ao</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Slick slider -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous" referrerpolicy="no-referrer" /> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="../style/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- font -->
    <link href="http://fonts.cdnfonts.com/css/svn-gotham" rel="stylesheet">

</head>

<body>
    <!--Header -->
    <header class="header">
        <div class="container top-header">
            <div class="row flex-nowrap">
                <div class="col-4">
                    <div class="left-header">
                        <!-- Nav mobile -->
                        <div class="nav">
                            <input type="checkbox" class='nav__input' name="" id="nav__input">
                            <label for="nav__input" class="nav__bar-btn">
                                <i class="bi bi-list"></i>
                            </label>
                            <label for="nav__input" class="nav__overlay">
                            </label>
                            <nav class="nav__mobile">
                                <li class="nav-item_mobile">
                                    <a href="/categories/z_bot_capsule" title="Z-BOT CAPSULE">Z-BOT CAPSULE</a>
                                </li>
                                <li class="nav-item_mobile">
                                    <a href="/categories/young_wild_n_trippy" title="YOUNG/WILD N'TRIPPY">YOUNG/WILD
                                        N'TRIPPY</a>
                                </li>
                                <li class="nav-item dropdown nav-item_mobile">
                                    <a class="nav-link dropdown-toggle" href="/categories/top" id="dropdownId"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">TOP</a>
                                </li>
                                <li class="nav-item dropdown nav-item_mobile">
                                    <a class="nav-link dropdown-toggle" href="/categories/bottom" id="dropdownId"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">BOTTOM</a>
                                </li>
                                <li class="nav-item dropdown nav-item_mobile">
                                    <a class="nav-link dropdown-toggle" href="/categories/accessory"
                                        id="dropdownId" data-toggle="dropdown" aria-haspopup="true"
                                        aria-expanded="false">ACCESSORY</a>
                                </li>
                                <li class="nav-item_mobile">
                                    <a href="../login/login.html" title="Đăng nhập">Đăng nhập</a>
                                </li>
                                <li class="nav-item_mobile">
                                    <a href="../signup/signup.html" title="Đăng kí">Đăng kí</a>
                                </li>
                            </nav>
                        </div>
                        <!--  -->
                        <div class="text">
                            <span>HOTLINE ĐẶT HÀNG: 058660 660</span>
                        </div>
                    </div>
                </div>
                <div class="col-4">
                    <div class="center-header">
                        <div class="logo">
                            <a href="/" class="logo-wrapper" title="CLOWNZⓇ STREETWEAR">
                                <img src="/img/logo.png" class="">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="right-header">
                        <ul class="nav">
                            <li class="nav-item">
                                <a href="#"><span>GIỎ HÀNG</span><i class="bi bi-cart-check-fill"></i></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" title="Tìm kiếm"><i class="bi bi-search"></i></a>
                            </li>
                            <li class="nav-item login_icon">
                                <a href="#" title="Đăng nhập"><i class="bi bi-person-circle"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container bot-header">
            <div class="row">
                <div class="col-md-12 col-lg-12">
                    <ul class="nav nav_pc">
                        <li class="nav-item">
                            <a href="/categories/z_bot_capsule" title="Z-BOT CAPSULE">Z-BOT CAPSULE</a>
                        </li>
                        <li class="nav-item">
                            <a href="/categories/young_wild_n_trippy" title="YOUNG/WILD N'TRIPPY">YOUNG/WILD N'TRIPPY</a>
                        </li>
                        <li class=" nav-item">
                            <a href="/categories/top" title="TOP">TOP</a>
                        </li>
                        <li class=" nav-item">
                            <a href="/categories/bottom" title="BOTTOM">BOTTOM</a>
                        </li>
                        <li class=" nav-item">
                            <a href="/categories/accessory" title="ACCESSORY">ACCESSORY</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

    <!-- Banner -->
    <div class="container-fluid bg-banner">
        <div class="row">
            <div class="col-md-12 col-lg-12 px-0">
                <div class="">
                    <img src="/img/category/<%= Category.image %>" alt="" width="100%">
                </div>
            </div>
        </div>
    </div>
    <!--  -->
    <!-- Content -->
    <div class="">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-12 nav-customer nonesection">
                    <div class=" mt-5">
                        <h3 style="font-size: 1.1rem;">DANH MỤC</h3>
                    </div>
                    <div style="border-bottom: 1px solid #f5f5f5 ;">
                        <ul class="p-0">
                            <li class="px-0 ">
                                <a class="px-0 mb-2 py-0 nav-link fw-normal" style="color:#6F6F6D; font-size: 1rem;"
                                    href="customer.html">Trang chủ</a>
                            </li>
                            <li class="px-0">
                                <a class="px-0 mb-2 py-0 nav-link fw-normal" style="color:#6F6F6D; font-size: 1rem;"
                                    href="customer_cart.html">Giới thiệu</a>
                            </li>
                            <li class="px-0">
                                <a class="px-0 mb-2 py-0 nav-link fw-normal" style="color:#6F6F6D; font-size: 1rem;"
                                    href="change_password.html">Sản phẩm</a>
                            </li>
                            <li class="px-0 mb-4">
                                <a class="px-0 mb-2 py-0 nav-link fw-normal" style="color:#6F6F6D; font-size: 1rem;"
                                    href="address_customer.html">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                    <div class="mt-4">
                        <h5>TÌM THEO</h5>
                    </div>
                    <div>
                        <p class="mb-2">Giá sản phẩm</p>
                        <div class="fw-light fs-6" style="color: #6F6F6D;">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Giá dưới 100.000đ
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    100.000đ - 200.000đ
                                </label>
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    200.000đ - 300.000đ
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="mb-3 mt-4">Loại</p>
                        <div class="fw-light fs-6" style="color: #6F6F6D;">
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Tees & Polo shirts
                                </label>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="mb-3 mt-4">Size</p>
                        <div class="fw-light fs-6" style="color: #6F6F6D;">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    S
                                </label>
                            </div>
                        </div>
                        <div class="fw-light fs-6" style="color: #6F6F6D;">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    L
                                </label>
                            </div>
                        </div>
                        <div class="fw-light fs-6" style="color: #6F6F6D;">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    M
                                </label>
                            </div>
                        </div>
                        <div class="fw-light fs-6" style="color: #6F6F6D;">
                            <div class="form-check mb-2">
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    XL
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-12">
                    <div class="mt-5 nonesection">
                        <div class="form-check form-check-inline">
                            <p>Xếp theo: </p>
                        </div>
                        <form action="" method="get">
                        <div class="form-check form-check-inline fw-light " style="font-size:0.9rem ;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1"
                                value="option1" name="q">
                            <label class="form-check-label" for="inlineRadio1">Tên A-Z</label>
                        </div>
                        <div class="form-check form-check-inline fw-light " style="font-size:0.9rem ;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2"
                                value="option2">
                            <label class="form-check-label" for="inlineRadio2">Tên Z-A</label>
                        </div>
                        <div class="form-check form-check-inline fw-light " style="font-size:0.9rem ;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="option3">
                            <label class="form-check-label" for="inlineRadio3">Giá thấp đến cao</label>
                        </div>
                        <div class="form-check form-check-inline fw-light " style="font-size:0.9rem ;">
                            <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3"
                                value="option3">
                            <label class="form-check-label" for="inlineRadio3">Giá cao xuống thấp</label>
                        </div>
                        <button type="submit" class="btn btn-outline-info rounded-pill">lọc</button>
                    </form>
                    </div>
                    <!-- Banner -->

                    <!--  -->
                    <%- body %>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <footer class="footer">
        <div class="site-footer py-4">
            <div class="container">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-3 col-xs-6">
                        <img class="py-3 rounded mx-auto d-block" src="/img/logo-removebg-preview.png"
                            alt="CLOWNZⓇ STREETWEAR" width="100%">
                        <ul class="list-menu p-0" style="list-style: none; font-size: 0.8rem;">
                            <li class="mb-2">
                                <i class="fa-solid fa-location-dot"></i>
                                CÔNG TY TNHH 2 THÀNH VIÊN CLOWNZ
                            </li>
                            <li class="mb-2">
                                <i class="fa-solid fa-phone"></i>
                                <a href="tel:058660 8660">058660 8660</a>
                            </li>
                            <li class="mb-2">
                                <i class="fa-solid fa-envelope"></i>
                                <a href="duong@clownz.vn">duong@clownz.vn</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-6">
                        <h3 class="py-3" style="font-size: 0.9rem ;">Liên Hệ</h3>
                        <div>
                            <p class="fw-bold" style="font-size: 0.8rem; margin-bottom: 12px;">
                                <i class="text-success fa-solid fa-location-dot"></i>
                                CLOWNZ STORE
                            </p>
                            <p class="" style="font-size: 0.8rem; margin-bottom: 12px;">
                                <i class="text-success fa-solid fa-location-dot"></i>
                                45 Núi Trúc, Ba Đình, HN
                            </p>
                            <p class="" style="font-size: 0.8rem; margin-bottom: 12px;">
                                <i class="text-success fa-solid fa-location-dot"></i>
                                19 Hồ Đắc Di, Đống Đa, HN
                            </p>
                            <p class="" style="font-size: 0.8rem; margin-bottom: 12px;">
                                <i class="text-success fa-solid fa-location-dot"></i>
                                The New Play Ground Vincom Bà Triệu
                            </p>
                            <p class="" style="font-size: 0.8rem; margin-bottom: 12px;">
                                <i class="text-success fa-solid fa-truck"></i>
                                Ship COD toàn quốc
                            </p>
                            <p class="" style="font-size: 0.8rem; margin-bottom: 12px;">
                                <i class="text-success fa-solid fa-gift"></i>
                                FREESHIP đơn hàng từ 500.000đ
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-6">
                        <h3 class="py-3" style="font-size: 0.9rem ;">Chính Sách</h3>
                        <ul class="ps-0" style="font-size: 0.8rem ; list-style: none;">
                            <li class="mt-2"><a href="">
                                    CHÍNH SÁCH THÀNH VIÊN
                                </a> </li>
                            <li class="mt-2"><a href="">
                                    CHÍNH SÁCH ĐỔI TRẢ
                                </a> </li>
                            <li class="mt-2"><a href="">
                                    CHÍNH SÁCH VẬN CHUYỂN
                                </a> </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 col-xs-6">
                        <h3 class="py-3" style="font-size: 0.9rem ;">ĐĂNG KÝ NHẬN TIN</h3>
                        <p style="font-size: 0.8rem;">Nhận thông tin sản phẩm mới nhất, tin khuyến mãi và nhiều hơn nữa.
                        </p>
                        <form class="mb-3">
                            <div class="mb-3">
                                <input type="email" class="" id="" aria-describedby="emailHelp"
                                    placeholder="Email của bạn">
                            </div>
                            <div class="d-grid gap-2">
                                <button type="button" class="btn btn-outline-dark">Submit</button>
                            </div>
                        </form>
                        <div class="footer-payment">
                            <ul class="nav justify-content-center">
                                <li class="nav-item me-2">
                                    <img src="/img/payment/payment_1.svg" alt="">
                                </li>
                                <li class="nav-item me-2">
                                    <img src="/img/payment/payment_2.svg" alt="">
                                </li>
                                <li class="nav-item me-2">
                                    <img src="/img/payment/payment_3.svg" alt="">
                                </li>
                                <li class="nav-item me-2">
                                    <img src="/img/payment/payment_4.svg" alt="">
                                </li>
                                <li class="nav-item">
                                    <img src="/img/payment/payment_5.svg" alt="">
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row align-items-center py-2">
                    <p class="col-sm-12 text-center m-0" style="font-size: 0.9rem;">
                        © Bản quyền thuộc về Clownz Store | Cung cấp bởi
                        <a class=""
                            href="https://www.sapo.vn/?utm_campaign=cpn:site_khach_hang-plm:footer&utm_source=site_khach_hang&utm_medium=referral&utm_content=fm:text_link-km:-sz:&utm_term=&campaign=site_khach_hang">Sapo</a>
                    </p>
                </div>
            </div>
        </div>
        </div>
    </footer>
    <!-- End footer -->



    <!--Icon -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<!-- JS slick slider -->
<!--  jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Slick -->

<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<!-- JS slick slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
    integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.js"
    integrity="sha512-WNZwVebQjhSxEzwbettGuQgWxbpYdoLf7mH+25A7sfQbbxKeS5SQ9QBf97zOY4nOlwtksgDA/czSTmfj4DUEiQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<!-- JS -->
<script src="../js/home.js"></script>
</body>

</html>